<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
		<meta charset="utf-8" />
		<title>Sign in</title>
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
	</head>
    <body>
        <div id="login-box">
            <h1>Login to Rango</h1>
            <div class="input-box">
                <form id="login_form" method="post" action="{% url 'rango:login' %}">
                    {% csrf_token %}
                    <div class="input-box">
                        <i class="iconfont">&#xe609;</i>
                        
                        <input type="text" name="username" placeholder="UserName" />
                    </div>
                    <div class="input-box">
                        <i class="iconfont">&#xe605;</i>
                        <input type="password"  name="password" placeholder="UserPassword" />
                    </div>
                    <button>Sign in</button>
                </form>
            </div>
        </div>
    </body>
</html>

